body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  /* color: ;
    font-size: 8px;
    line-height: ;
    font-weight */
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.contacts-list {
  display: block;
  padding: 24px 0;
  align-items: center;
  display: flex;
  gap: 40px;
  text-decoration: none;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  text-decoration: none;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.logo-span {
  color: #2e2f42;
}

.logo-span-footer {
  color: #f4f4fd;
}

.secta {
  background-color: #2e2f42;
  text-align: center;

  padding: 188px 0 188px;
}

.secta-text {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.sectd {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.btn {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  border: none;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.header-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  text-decoration: none;
}

.sectb {
  padding: 120px 0;
}

footer {
  background: #2e2f42;
  padding: 100px 0 100px;
}

.address {
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  margin-left: auto;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
.contacts {
  color: #434455;
  text-decoration: none;
}
.benefits-p {
  letter-spacing: 0.02em;
  color: #434455;
}
.sect-title {
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.sectd li {
  background-color: #ffffff;
}
.card-subtitle {
  letter-spacing: 0.02em;
  color: #2e2f42;
  width: 264px;
  margin-bottom: 8px;
}
.card-subtitle-b {
  text-align: center;
}

.card-data {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}

.card-data-d {
  text-align: center;
}

.footer-p {
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.text-d {
  display: flex;
  gap: 24px;
}

.card {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.card-d {
  display: flex;
  gap: 24px;
}

.card-dd {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.text-pid-foto {
  gap: 8px;
  text-align: center;
  padding: 32px 0;
}

.card-text {
  width: calc((100%-72px) / 4);
}
.text-pid-foto-b {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.border-card {
  width: calc((100% - 48px) / 3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
